.App {
  text-align: center;
}
.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  width: 50%;
}
.circle {
  border-radius: 50%;
}
.btn {
  padding: 10px;
  display: flex;
  height: 50px;
  width: 100px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #2a2a2a;
}
.d-flex{
  display: flex;
}
.btn-reset {
  margin-left: 100px;
  height: 50px;
  width: 100px;
  border-radius: 20%;
}